/* This is where the css code will go */


body {
  background-color: #1b1b1b; 
}


/* Defining the navbar; z-index brings nav bar to the front */
.navbar {
background: #002171;
position: fixed;
top: 0;
width: 100%;
z-index: 9999; 
}

/* Getting the different pages to display across */
.navbar li {
display: inline-block;
padding: 10px 20px;
}

/* Getting rid of the underlines  */
.navbar a {
text-decoration: none;
color: white;
width: 100%;
}

.banner {
background-color: #5472d3;
color: white;
margin-top: 75px;
text-align: center;
}

br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: 25px; /* change this to whatever height you want it */
}

/* Creates a border/shadow for my headshot */
#headshot {
filter: drop-shadow(1px 1px 1px black);
}

.w3-display-container {
background-color: #201f1f;
}

.w3-tag.w3-round {
  background-color:#5472d3;
}

.w3-container {
background-color: #201f1f;
color: white;
}

.w3-content {
  color: white;
  
}


.w3-container-w3-card-w3-black-w3-margin-bottom {
background-color: #201f1f;
}


.w3-container.w3-card.w3-black {
background-color: #201f1f;
}


/* #granada {
height: 100px; 
width: 100px;
float: right;
}

#lsu_isds {
  height: 74px; 
  width: 150px;
  float: right;
  position: relative; /* Declared position allows for location changes */
  /* top: -30px;  Moves the image 2px closer to the top of the page */ */






 /* Changing colors of the icons */
 
.fa-solid.fa-briefcase.fa-fw {
color: #5472d3;
}

.a-solid.fa-house.fa-fw {
color:#5472d3;
}

i {
  margin-right: 10px;
  color:#5472d3;
}

/* Messing with the footer */

.footer {
  text-align: center;
  padding: 3px;
  background-color: #002171;
  color: white;
}

#python {
  width: 20px;
  height: 20px;
  background: transparent;
  object-fit: contain;

}

#Rlogo {
  width: 20px;
  height: 20px;
  background: transparent;
  object-fit: contain;

}

#excel {
  width: 20px;
  height: 20px;
  background: transparent;
  object-fit: contain;
}

#pandas {
  width: 20px;
  height: 20px;
  background: transparent;
  object-fit: contain;
}


.blog-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.blog-box{
  width:80%;
  height:auto;
  color: white;
  background-color: #201f1f;
  margin: 20px
}

.blog-img{
  width:100%;
  height: auto;
}


.blog.text{
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.code {
  background-color: white;
  color: #1b1b1b;
  width: 100%;

}


pre code {
  background-color: #0d47a1;
  border: 1px solid #002171;
  display: block;
  block-size: fit-content;
  padding: 20px;
  overflow: auto;
  word-wrap: break-word;
  text-align: left;
  /* width:fit-content; */
}