/* Establishing a common font here */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Montserrat", sans-serif;
  color: white;
}

body {
  background-color: #1b1b1b;
}

/* Defining the navbar; z-index brings nav bar to the front */
.navbar {
  background: #002171;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

/* Getting the different pages to display across */
.navbar li {
  display: inline-block;
  padding: 10px 20px;
}

/* Getting rid of the underlines  */
.navbar a {
  text-decoration: none;
  color: white;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.banner {
  background-color: #5472d3;
  color: white;
  margin-top: 75px;
  text-align: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: 20px; /* change this to whatever height you want it */
}

ul {
  list-style-type: circle;
}

/* Creates a border/shadow for my headshot */
#headshot {
  max-width: 100%;
  height: auto;
  width: auto\9;
  filter: drop-shadow(1px 1px 1px black);
}

.row-padding:after,
.row-padding:before {
  content: "";
  display: table;
  clear: both;
}

.row-padding > .left-column,
.row-padding > .right-column,
.row-padding {
  padding: 0 8px;
}

.display-container {
  position: relative;
  background-color: #201f1f;
}

.display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

.w3-content.w3-margin-top {
  max-width: 1400px;
}
.w3-tag.w3-round {
  background-color: #5472d3;
}

.left-column {
  padding-left: 40px;
  padding-right: 10px;
  float: left;
  width: 33.33%;
  filter: drop-shadow(1px 1px 1px black);
}

.right-column {
  float: left;
  width: 66.66%;
  padding-left: 10px;
  padding-right: 40px;
  filter: drop-shadow(1px 1px 1px black);
}

@media (max-width: 600px) {
  .left-column,
  .right-column {
    width: 100%;
    float: none;
  }
}

.container:after,
.container:before {
  content: "";
  display: table;
  clear: both;
}

.container {
  background-color: #201f1f;
  color: white;
  padding: 0.01em 16px;
}

.sub-container {
  background-color: #201f1f;
  color: white;
  padding: 0.01em 16px;
}

.left-column-title {
  font-size: 20px;
  font-weight: bold;
}

.left-column-subtitle {
  font-size: 16px;
  margin: 8px 0;
}

/*
@media (max-width: 767px) {
  .right-column {
    display: flex;
    flex-wrap: wrap;
    float: right;
  }
}
*/
.right-card {
  background-color: #201f1f;
}

.titles {
  padding-top: 16px;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

.date-range {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.mission-statement {
  font-size: 18px;
  font-style: italic;
}

p {
  font-size: 16px;
}

a {
  color: #f1cc0e;
}

a:hover {
  color: #5472d3;
  font-weight: bold;
}

/* Changing colors of the icons */

.fa-solid.fa-briefcase.fa-fw {
  color: #5472d3;
}

.a-solid.fa-house.fa-fw {
  color: #5472d3;
}

/*Handling the different italicized text styling */

#italicize-special {
  color: #5472d3;
  font-weight: bold;
}

#italicize-normal {
  color: white;
}

/* Changes color of all the icons to light blue*/
i {
  color: #5472d3;
  margin-right: 10px;
}

/* Messing with the footer */

.footer {
  text-align: center;
  padding: 3px;
  background-color: #002171;
  color: white;
}

#python {
  width: 20px;
  height: 20px;
  background: transparent;
  object-fit: contain;
}

#Rlogo {
  width: 20px;
  height: 20px;
  background: transparent;
  object-fit: contain;
}

#excel {
  width: 20px;
  height: 20px;
  background: transparent;
  object-fit: contain;
}

#pandas {
  width: 20px;
  height: 20px;
  background: transparent;
  object-fit: contain;
}

.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.blog-box {
  width: 60%;
  height: auto;
  color: white;
  background-color: #201f1f;
  padding: 20px;
  overflow: hidden;
}

.blog-title {
  /* styling goes here */
}

.blog-section,
.blog-section2 {
  width: auto;
  display: flex;
}

/* .blog-images {
  float: left;
  width: auto;
  height: auto;
  justify-content: left;
} */

.blog-img {
  width: 30%;
  height: auto;
}

.blog.text {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.blog-description {
  width: 70%;
  flex: 1;
  padding-left: 15px;
}

@media screen and (max-width: 767px) {
  .blog-box {
    width: 100%;
  }

  .blog-section,
  .blog-section2 {
    display: block;
    text-align: center;
  }

  .blog-img {
    width: 100%;
    float: none;
    margin: 0 auto;
  }

  .blog-description {
    width: 100%;
    margin-left: 0;
    padding-left: 0%;
    text-align: left;
  }
}

.code {
  background-color: white;
  color: #1b1b1b;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
}

pre code {
  background-color: black;
  border: 1px solid black;
  display: block;
  block-size: fit-content;
  padding: 20px;
  overflow: auto;
  word-wrap: break-word;
  text-align: left;
  /* width:fit-content; */
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.project-box {
  width: 80%;
  height: auto;
  color: white;
  background-color: #201f1f;
  padding: 20px;
  filter: drop-shadow(1px, 1px, 1px black);
}

.date-posted {
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-variant: small-caps;
  color: #f1cc0e;
}

/* Changing colors and properties of different keywords within code blocks*/

.hljs-comment {
  color: #5472d3;
}

.hljs-keyword {
  color: #ef6d00;
}

.hljs-string {
  color: green;
}

.hljs-function {
  color: #f1cc0e;
}

.hljs-number {
  color: #0ef1ea;
}

.other-keyword {
  color: #c40ef1;
}

.param {
  color: #9f213c;
  font-weight: bold;
}

.hljs-built-in {
  color: #2b38f9;
}

.output-code {
  color: #00ff0c;
}

.in-line-code {
  color: #f1cc0e;
}
